*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: #16161a;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ====================================== */
.card-list-container {
  display: flex;
  flex-wrap: wrap;
  min-width: 1366px;
  max-width: 1366px;
  margin: 1em auto 0 auto;
  padding: 98px;
  list-style: none;
}
.card-list-container__item {
  flex-basis: calc((100% - 3 * 30px) / 4);
  height: 394px;
  max-height: 394px;
  margin-bottom: 40px;
}
.card-list-container__item:not(:nth-of-type(4n)) {
  margin-right: 30px;
}
.card-item {
  position: relative;
  height: 100%;
  padding: 15px;
  transition: all 0.2s ease-in-out 0s;
}
.card-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: #f6f6f6;
  transition: all 0.2s ease-in-out 0s;
}
.card-item:hover {
  transition: all 0.2s ease-in-out 0s;
  box-shadow: 0 10px 50px rgba(22, 22, 26, 0.15);
}
.card-item:hover::before {
  top: -10px;
  left: -10px;
  padding: 10px;
  transition: all 0.2s ease-in-out 0s;
}
.card-item > * {
  position: relative;
  z-index: 1;
}
.card-item__chevron {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 10px;
  padding: 6px 11px 7px 12px;
  background-color: #000;
  color: #fff;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
}
.card-item__chevron--new {
  background-color: #4662b2;
}

.card-item__chevron--hit {
  background-color: #23b05f;
}

.card-item__chevron--sale {
  background-color: #e80f20;
}
.card-item__link {
  display: block;
  margin-bottom: 10px;
}
.card-item__img {
  display: block;
  max-width: 100%;
  height: auto;
}
.card-item__division {
  margin-bottom: 1.1em;
  color: #919199;
  font-family: "Inter", "Arial", sans-serif;
}
.card-item__title {
  margin: 0 0 0.65em;
  color: #16161a;
  font-family: "Inter", "Arial", sans-serif;
}
.card-item__rate {
  display: flex;
  margin-bottom: 1.1em;
}
.card-item__stars {
  margin-right: 0.7em;
}
.star-rate {
  display: flex;
}
.star-rate img {
  display: block;
}
.star-rate img:not(:last-child) {
  margin-right: 5px;
}
.card-item__link-to-reviews {
  color: #919199;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.25;
}
.link {
  transition: color, text-decoration-color 0.2s ease-in-out 0s;
}
.link:visited {
  color: #1ea5fc;
}
.link:hover {
  transition: color 0.2s ease-in-out 0s;
  color: #16161a;
}
.link:focus {
  transition: text-decoration-color 0.2s ease-in-out 0s;
  text-decoration-color: #1ea5fc;
}
.link:active {
  transition: text-decoration-color 0.2s ease-in-out 0s;
  text-decoration-color: #1ea5fc;
}
.card-item__price {
  margin-bottom: 0.85em;
  color: #16161a;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}
.card-item__price s {
  margin-left: 0.4em;
  color: #919199;
  font-size: 14px;
  font-weight: 400;
}
.card-item__button {
  width: 100%;
  height: 35px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
}
.btn {
  border: 2px solid #16161a;
  background-color: #16161a;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.btn:enabled:hover,
.btn:enabled:focus,
.btn:enabled:active {
  transition: all 0.2s ease-in-out 0s;
}
.btn:enabled:hover {
  background-color: #fff;
  color: #16161a;
}
.btn:enabled:focus,
.btn:enabled:active {
  border: 2px solid #16161a;
  outline: 2px solid #1ea5fc;
  background-color: #16161a;
  color: #fff;
}
.btn:disabled {
  border-color: #e1e1e6;
  background-color: #e1e1e6;
  color: #afafb3;
}
